<div class="container-fluid">
  <nav class="navbar navbar-fixed-top header" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-mobile" data-toggle="collapse" data-target="#mobile-view" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.php">
          <img src="assets/dummy-logo.png" class="img-responsive">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="mobile-view">
        <ul class=" nav navbar-nav navbar-content">
        </ul>
      </div>
    </div>
  </nav>
</div>
